.itemInHomepage{
    display: inline-block;
    width: 250px;
    height: 150px;
    background-color: #F0F9FF;
    margin-right: 10px;
    margin-left: 55px;
    margin-top: 50px;
    border-radius: 30px;
}
.itemInHomepage:hover{
    background-color: #FEAF00;
}